body{
	background-color: #f2f2ff;
}
#puzzle{
	width: 600px;
	height: 400px;
	margin: 40px;
	border: 4px solid black;
}
.topleft{
	position:absolute;
	left: 0px;
	top:0px;
}
.topright{
	position:absolute;
	top:0px;
	right:0px;
}
.bottomleft{
	position:absolute;
	left:0px;
	bottom:0px;
}
.bottomright{
	position:absolute;
	right:0px;
	bottom:0px;
}