body{
	background-color: #f2f2ff;
	display: inline;
}
#puzzle{
	width: 600px;
	height: 400px;
	margin: 40px;
	border: 4px solid black;

}
.topleft{
	position:absolute;
}
.topright{
	position:absolute;
}
.bottomleft{
	position:absolute;
}
.bottomright{
	position:absolute;
}